.oldie {
  display: block;
  background: #b40000;
  color: white;
  text-align: center;
  font-weight: bold;
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
}