$color-blue: #3498db;
$color-darkblue: #34495e;
$color-green: #2ecc71;
$color-textwhite: #f7f7f7;
$color-cloud: #ecf0f1;
$color-lightwhite: #e7e8e9;
$color-darkwhite: #d7d8d9;
$color-gray: #e2e2e2;
$color-midnight: #575757;
$color-shallowblue: #6b6b6b;
$color-skyblue: #d8efed;
$color-staleblue: #8ba09c;
$color-lightblue: #82d0d8;
$color-green: #2ecc71;
$color-red: #f16a57;

.food{
	text-align: center;
	background-color: $color-shallowblue;
	color: $color-cloud;
	padding: 50px 0;
	.header {
			text-transform: uppercase;
			font-size: 42px;
			margin: 15px 0 30px 0;
		}
	img {
		padding-left: 35px;
		padding-right: 35px;
	}
}

.diet-table {
	margin:0px;padding:0px;
	width:50%;
	padding-top: 25px;
	border:1px solid #000000;

	
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
	
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}.diet-table table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.diet-table tr:last-child td:last-child {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
}
.diet-table table tr:first-child td:first-child {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}
.diet-table table tr:first-child td:last-child {
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}.diet-table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
}.diet-table tr:hover td{
	background-color:#74b5f7;
		

}
.diet-table td{
	vertical-align:middle;
	
	background-color:#74b5f7;

	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:10px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#ffffff;
}.diet-table tr:last-child td{
	border-width:0px 1px 0px 0px;
}.diet-table tr td:last-child{
	border-width:0px 0px 1px 0px;
}.diet-table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.diet-table tr:first-child td{
		background:-o-linear-gradient(bottom, #56aaff 5%, #56aaff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #56aaff) );
	background:-moz-linear-gradient( center top, #56aaff 5%, #56aaff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#56aaff");	background: -o-linear-gradient(top,#56aaff,56aaff);

	background-color:#56aaff;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:22px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.diet-table tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #56aaff 5%, #56aaff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #56aaff) );
	background:-moz-linear-gradient( center top, #56aaff 5%, #56aaff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#56aaff");	background: -o-linear-gradient(top,#56aaff,56aaff);

	background-color:#56aaff;
}
.diet-table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.diet-table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}