$color-blue: #3498db;
$color-darkblue: #34495e;
$color-green: #2ecc71;
$color-textwhite: #f7f7f7;
$color-cloud: #ecf0f1;
$color-lightwhite: #e7e8e9;
$color-darkwhite: #d7d8d9;
$color-gray: #e2e2e2;
$color-midnight: #575757;
$color-shallowblue: #6b6b6b;
$color-skyblue: #d8efed;
$color-staleblue: #8ba09c;
$color-lightblue: #82d0d8;
$color-green: #2ecc71;
$color-red: #f16a57;

@font-face {
	font-family: "Nexa";
	font-weight: 400;
	src: url("../fonts/Nexa.otf");
}

@font-face {
	font-family: Nexa Bold;
	font-weight: 700;
	src: url("../fonts/Nexa \Bold.otf");
}

@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin vertical-bottom {
	position: relative;
	top: 90%;
	-webkit-transform: translateY(90%);
	-ms-transform: translateY(90%);
	transform: translateY(90%);
}

@mixin vertical-parent {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: $color-blue;
	font-family: "Nexa", sans-serif;
}

.center {
	margin-left: auto; 
	margin-right: auto;
}

.center-text {
	text-align: center;
}

.navbar {
	min-height: 0px;
	height: 35px;
	
	.navbar-nav {
	  	display: inline-block;
		float: none;
		vertical-align: top;
		margin-left: auto;
		margin-right: auto;
	}
	
	.navbar-collapse {
		text-align: center;
	}
	
	li {
		a {
			padding: 7px 30px !important;
		}
	}
}

.introduction {
	width: 100%;
	height: 80%;
	color: $color-textwhite;
	text-align: center;
	@include vertical-parent;
	
	.container {
		@include vertical-align;
		margin: 0 auto;
		padding: 0;
		
		h1 {
			font-size: 54px;
			font-weight: 300;
			margin: 0 auto 0 auto;
			padding: 0;
		}
		
		h2 {
			font-size: 24px;
			font-weight: 300;
			margin: 0 auto;
			padding: 0;
		}
	}
}

.pitch {
	width: 100%;
	margin: 0;
	padding: 15px 0;
	text-align: left;
	color: $color-textwhite;
	
	.container {
		.description {
			max-width: 100%;
			width: 640px;
			margin: 0 auto;
			font-size: 24px;
			line-height: 1.5;
		}	
	}
}

#world-map {
	position: absolute;
	z-index: -999;
	top: 10%;
	left: 50%;
	width: 100%;
	height: 120%;
	margin: 0;
	margin-left: -50%;
	opacity: 0.05;
	background: url(../img/map.svg) no-repeat bottom center scroll;
	background-size: contain;
}

p.description {
	max-width: 100%;
	width: 640px;
	margin: 0;
	font-size: 24px;
	line-height: 1.5;
}	

.life {
	display: table;
	width: 80%;
	height: 80%;
	margin: 10% auto;
	text-align: left;
	color: $color-textwhite;
	background: url(../img/small-map.svg) no-repeat right center scroll;
	background-size: contain;
	
	.container {
		display: table-cell;
		vertical-align: middle;
		
		
		.list {
			max-width: 100%;
			width: 640px;
			margin: 15px 0 0;
			font-size: 18px;
			line-height: 1.5;
			color: $color-darkwhite;
		}
	}
}

.wrapper {
	max-width: 100%;
	width: 902px;
	margin: 0 auto;
	padding: 75px 15px;
	
	.header {
		text-transform: uppercase;
		font-size: 42px;
		margin: 0 0 5px 0;
	}
	
	.description {
		max-width: 100%;
		width: 450px;
		margin: 0;
		font-size: 24px;
		line-height: 1.7;
		color: $color-shallowblue;
	}
}

.adaptations {
	color: $color-textwhite;
	background-color: $color-gray;
	background-image: url(../img/small-map.png) no-repeat center right scroll;
	background-size: contain;
	
	.header {
		color: $color-midnight;
	}
}

.animals {
	color: $color-midnight;
	background-color: $color-skyblue;
	
	.header {
		text-align: right;
		margin-left: auto;
		margin-right: 0;
	}
	
	.description {
		margin-left: auto;
		margin-right: 0;
		height: 200px;
	}
	
	.animal {
		width: 250px;
		text-align: center;
		border-radius: 50%;

		
	}
}
.plants {
	color: $color-darkwhite;
	background-color: $color-staleblue;
	
	.description {
		color: $color-darkwhite;
		height: 200px;
	}
	
	.plant {
		width: 250px;
		text-align: center;
		border-radius: 50%;

	}
}

.humans {
	color: $color-textwhite;
	background-color: $color-lightblue;
	padding-top: 35px;
	
	.header {
		text-transform: uppercase;
		font-size: 42px;
		margin: 15px 0 0 0;
	}
	
	.col-md-6 {
		padding-bottom: 25px;
	}
	
	.details {
		max-width: 100%;
		width: 100%;
		margin-bottom: 25px;
	}
	
	.positive {
		color: $color-textwhite;
		background-color: $color-green;
		
	}	
	
	.negative {
		color: $color-textwhite;
		background-color: $color-red;
	}
	
	p {
		@extend .description;
		color: $color-textwhite;
		margin: 10px 0;
	}
}

.decomposers {
	color: $color-textwhite;
	background-color: $color-darkblue;
	padding-top: 35px;
	
	.header {
		text-transform: uppercase;
		font-size: 42px;
		margin: 15px 0 0 0;
	}
	
	.table {
		max-width: 100%;
		width: 720px;
		margin: 0 auto;
		
		.col-sm-6 {
			background-color: $color-gray;
		}
	}
	
	.details {
		@extend .description;
		color: $color-textwhite;
		max-width: 100%;
		width: 100%;
		margin: 25px auto;
		margin-bottom: 25px;
		text-align: left !important;
	}
	
	.col-sm-6 {
		color: $color-midnight;
		font-size: 24px;
		padding: 10px 0;
		height: 100%;
		text-align: center;
		
		&:nth-child(2) {
			background-color: $color-cloud;
		}
	}
}

.pyramid {
	text-align: center;
	background-color: $color-skyblue;
	color: $color-midnight;
	padding: 50px 0;
	
	.header {
		text-transform: uppercase;
		font-size: 42px;
		margin: 15px 0 30px 0;
	}
}

.citations {
	.header {
		margin-left: 25%;
		margin-bottom: 5px;
	}
	
	.works {
		margin-left: 25%;
	}
}
.material-icons.md-light {
		color: rgba(255, 255, 255, 1);
	}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-72 { font-size: 72px; }
	


