$color-blue: #3498db;
$color-darkblue: #34495e;
$color-green: #2ecc71;
$color-textwhite: #f7f7f7;
$color-cloud: #ecf0f1;
$color-lightwhite: #e7e8e9;

@font-face {
	font-family: "Nexa";
	font-weight: 400;
	src: url("../fonts/Nexa.otf");
}

@font-face {
	font-family: Nexa Bold;
	font-weight: 700;
	src: url("../fonts/Nexa \Bold.otf");
}

@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin vertical-bottom {
	position: relative;
	top: 90%;
	-webkit-transform: translateY(90%);
	-ms-transform: translateY(90%);
	transform: translateY(90%);
}

@mixin vertical-parent {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: $color-blue;
	font-family: "Nexa", sans-serif;
}

.center {
	margin-left: auto; 
	margin-right: auto;
}

.center-text {
	text-align: center;
}

.navbar {
	min-height: 0px;
	height: 35px;
	
	.navbar-nav {
	  	display: inline-block;
		float: none;
		vertical-align: top;
		margin-left: auto;
		margin-right: auto;
	}
	
	.navbar-collapse {
		text-align: center;
	}
	
	li {
		a {
			padding: 7px 50px !important;
		}
	}
}

.introduction {
	width: 100%;
	height: 80%;
	color: $color-textwhite;
	background-color: $color-cloud;
	text-align: center;
	border: 2px solid red;
	@include vertical-parent;
	
	.container {
		@include vertical-align;
		margin: 0 auto;
		padding: 0;
		
		h1 {
			font-size: 54px;
			font-weight: 300;
			margin: 0 auto 0 auto;
			padding: 0;
		}
		
		h2 {
			font-size: 24px;
			font-weight: 300;
			margin: 0 auto;
			padding: 0;
		}
	}
}

.pitch {
	width: 100%;
	margin: 0;
	padding: 15px 0;
	text-align: left;
	color: $color-textwhite;
//	background: url(../img/map.svg) no-repeat bottom center scroll;
//	background-size: cover;
	
	.container {
		.description {
			max-width: 100%;
			width: 640px;
			margin: 0 auto;
			font-size: 24px;
			line-height: 1.5;
		}	
	}
}

.material-icons.md-light {
		color: rgba(255, 255, 255, 1);
	}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-72 { font-size: 72px; }
	


